#debug
	p debug
#pageTop p
		a(href="#").
			&#8743;
header
	.wrap
		h1 サイト名
		nav
			ul
				li
					a(href="#") メニュー1
				li
					a(href="#") メニュー2
				li
					a(href="#") メニュー3
				li
					a(href="#") メニュー4
				li
					a(href="#") メニュー5
		a(href="#", id="menu-trigger").open
			span
			span
			span
